# PostgreSQL
POSTGRES_USER=basemsg
POSTGRES_PASSWORD=basemsg123
POSTGRES_DB=basemsg
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Backend
BACKEND_PORT=3000
